{% extends 'institution.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/edit_mang_post" enctype="multipart/form-data">
  <table class="table table-bordered" >
    <tr>
      <td colspan="2" align="center"><img src="{{ manager['image'] }}" width="70%" height="70%"></td>
    </tr>
    <tr>
      <th>Image <input type="hidden" name="m_id" value="{{ manager['manager_id'] }}"/></th>
      <td><input type="file" name="filefield" value="{{ manager['image'] }} class="form-control"/></td>
    </tr>
    <tr>
      <th width="105">Manager Name</th>
      <td width="95">
      <input type="text" name="manager" id="manager" value="{{ manager['name'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><input type="date" name="textfield2" id="textfield2" value="{{ manager['dob'] }}" class="form-control" required/>
      </td>
    <tr>
    <th>Gender</th>
    <td>
      <input type="text" name="radio" value="{{ manager['gender'] }}" class="form-control" required/>
  </tr>
    <tr>
      <th>Qualification</th>
      <td><label for="qualification"></label>
      <input type="text" name="qualification" id="qualification" value="{{ manager['qualification'] }}" class="form-control" /></td>
    </tr>
    <tr>
      <th>Contact 1</th>
      <td><label for="contact1"></label>
      <input type="text" name="contact1" id="contact1" value="{{ manager['contact1'] }}" class="form-control" /></td>
    </tr>
    <tr>
      <th>Contact2</th>
      <td>
      <input type="text" name="contact2" id="contact2" value="{{ manager['contact2'] }}" class="form-control"/></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><label for="email"></label>
      <input type="text" name="email" id="email" value="{{ manager['email'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Place</th>
      <td><input name="adrs1" id="address" value="{{ manager['place'] }}" class="form-control" required/></td>
    </tr>
    <tr>
    <th>Post</th>
    <td> <input type="text" name="adr2" id="adr2" value="{{ manager['post'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th>District</th>
      <td>
       <input type="text" name="adr3" id="adrs3" value="{{ manager['district'] }}" class="form-control" /></td>
    </tr>
     <tr>
      <th>Pincode</th>
       <td><input type="text" name="adrs4" id="adrs4" value="{{ manager['pin'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" id="Submit" value="Update" class="btn btn-success" />
<!--        <input type="submit" name="Reset" id="Reset" value="Reset" />-->
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}