{% extends 'institution.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/registration_post">
  <table class="table table-bordered">
    <tr>
      <th width="106">Institution Name</th>
      <td width="125">
      <input type="text" name="institution" id="institution" class="form-control" required /></td>
    </tr>
    <tr>
      <th>Place</th>
      <td>
      <input type="text" name="place" id="place" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Pin</th>
      <td><label for="pin"></label>
      <input type="text" name="pin" id="pin" class="form-control" required/></td>
    </tr>
    <tr>
      <th> Post</th>
      <td><label for="post"></label>
      <input type="text" name="post" id="post" class="form-control" required/></td>
    </tr>
    <tr>
      <th>District</th>
      <td><label for="district"></label>
      <input type="text" name="district" id="district" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Contact</th>
      <td><label for="contact"></label>
      <input type="text" name="contact" id="contact" class="form-control" required /></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><label for="email"></label>
      <input type="text" name="email" id="email" class="form-control" required /></td>
    </tr>
    <tr>
      <th>Website</th>
      <td><label for="website"></label>
      <input type="text" name="website" id="website" class="form-control" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" id="Submit" value="Submit"  />
        <input type="submit" name="Reset" id="Reset" value="Reset"  />
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}