{% extends 'institution.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/sub_mang_post">
  <table class="table table-borderless" style="width:700px;height:200px" align="center">
    <tr>
      <th>Course</th>
      <td>
        <select name="course" id="department" class="form-control" required>
          <option>--select--</option>
          {% for i in subject %}
          <option value = "{{ i['course_id'] }}">{{ i['course_name'] }}</option>
          {% endfor %}
      </select></td>
    </tr>

    <tr>
      <th>Semester</th>
      <td>
      <input type="range" name="sem" value="1" min="1" max="8" oninput="this.nextElementSibling.value = this.value">
<output>1</output>
    </tr>

    <tr>
      <th>Subject Name</th>
      <td>
      <input type="text" name="subject" id="subject" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" id="Submit" value="Add" class="btn btn-success"/>
<!--        <input type="submit" name="Reset" id="Reset" value="Reset" />-->
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
