{% extends 'student.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Exam Name</th>
      <th>Subject</th>
      <th>Semester</th>
      <th>Exam Type</th>
      <th>Date &amp; Time</th>
      <th>&nbsp;</th>
    </tr>
    {% for i in exam %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['exam_name'] }}</td>
      <td>&nbsp;{{ i['sub_name'] }}</td>
      <td>{{ i['sub_sem'] }}</td>
      <td>{{ i['type'] }}</td>
      <td>&nbsp;{{ i['exam_time'] }} <br> {{ i['exam_date'] }}</td>
      <td>

          {% if  i['type'] =="Optional" %}

          <a href="/sample/{{ i['exam_id'] }}" class="btn btn-success">Attend</a>

      {% else %}
            <a href="/student_videocall" class="btn btn-success">Attend</a>
            {% endif %}

      </td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}
