{% extends 'student.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/student_change_pass_post">
  <table class="table table-borderless" style="width:600px;height:100px" align="center">
    <tr>
      <td>
      <input type="text" name="old" id="old" class="form-control" placeholder="Old Password" required/></td>
    </tr>
    <tr>
      <td>
      <input type="text" name="new" id="new" class="form-control" placeholder="New Password" required/></td>
    </tr>
    <tr>
      <td>
      <input type="text" name="retype_new" id="retype_new" class="form-control" placeholder="Confirm New Password" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Change" id="Change" value="Change" class="btn btn-success"/>
<!--        <input type="submit" name="Reset" id="Reset" value="Reset" />-->
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
