{% extends 'admin.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th><p>Manager Name &amp; Institution Name</p></th>
      <th>Review</th>
      <th>Date &amp; Time</th>
    </tr>

    {% for i in data %}
    <tr>
      <td>&nbsp;{{ i['man_name'] }}<br>{{ i['inst_name'] }}</td>
      <td>&nbsp;{{ i['review'] }}</td>
      <td>&nbsp;{{ i['date'] }}<br/>{{ i['time'] }}</td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}
