{% extends 'hod.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/hod_change_pass_post">
  <table class="table table-borderless" style="width:500px;height:100px" align="center">
    <tr>

      <td>
      <input type="password" name="old_pass" id="old_pass" class="form-control" placeholder="Enter Your Old Password" required/></td>
    </tr>
    <tr>

      <td>
      <input type="password" name="new_pass" id="new_pass" class="form-control" placeholder="Enter New Password" required/></td>
    </tr>
    <tr>

      <td>
      <input type="password" name="confirm_pass" id="confirm_pass" class="form-control" placeholder="Confirm New Password" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Change" id="Change" value="Change" class="btn btn-success"/>
<!--        <input type="submit" name="Reset" id="Reset" value="Reset" />-->
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
