{% extends 'hod.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/hod_edit_profile_post" enctype="multipart/form-data">
  <table class="table table-bordered" >
    <tr>
      <td colspan="2" align="center"><img src="{{ teacher['image'] }}" width="70%" height="70%"></td>
    </tr>
    <tr>
      <th>Image <input type="hidden" name="t_id" value="{{ teacher['teach_id'] }}"  /></th>
      <td><input type="file" name="filefield" value="{{ teacher['image'] }}" class="form-control"/></td>
    </tr>
    <tr>
      <th width="105">Teacher Name</th>
      <td width="95">
      <input type="text" name="teacher" id="teacher" value="{{ teacher['name'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><input type="date" name="textfield2" id="textfield2" value="{{ teacher['dob'] }}" class="form-control" required/>

      </td>

    <tr>
    <th>Gender</th>
    <td>
      <input type="text" name="radio" value="{{ teacher['gender'] }}" class="form-control" required/>
  </tr>
  <tr>
      <th>Department</th>
      <td>
        <select name="dept" id="dept" class="form-control" required>
          {%for i in dept%}
          <option value="{{ i['dept_id'] }}">{{ i['dname'] }}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th>Qualification</th>
      <td>
      <input type="text" name="qualification" id="qualification" value="{{ teacher['qualification'] }}" class="form-control" /></td>
    </tr>
    <tr>
      <th>Contact1</th>
      <td><label for="contact1"></label>
      <input type="text" name="contact1" id="contact1" value="{{ teacher['contact1'] }}" class="form-control" /></td>
    </tr>
    <tr>
      <th>Contact2</th>
      <td>
      <input type="text" name="contact2" id="contact2" value="{{ teacher['contact2'] }}" class="form-control" /></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><label for="email"></label>
      <input type="text" name="email" id="email" value="{{ teacher['email'] }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Place</th>
      <td><input name="adrs1" id="address" value="{{ teacher['place'] }}" class="form-control" /></td>
    </tr>
    <tr>
    <th>Post</th>
    <td> <input type="text" name="adr2" id="adr2" value="{{ teacher['post'] }}" class="form-control" /></td>
    </tr>
    <tr>
      <th>District</th>
      <td>
       <input type="text" name="adr3" id="adrs3" value="{{ teacher['district'] }}" class="form-control" /></td>
    </tr>
     <tr>
      <th>Pincode</th>
       <td><input type="text" name="adrs4" id="adrs4" value="{{ teacher['pin'] }}" class="form-control" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" id="Submit" value="Update" class="btn btn-success"/>
<!--        <input type="submit" name="Reset" id="Reset" value="Reset" />-->
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
